@page "/"
@inject HttpClient Client
@using MLP_DbLibrary.DTO.LessonDTO

@if (lessons == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="jumbotron p-5" style="background-image: url(/images/dominik-vanyi-horses.jpg); background-size: cover; background-position-x: center; height:95vh;">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="display-4">your Music Hub </h1>
    <h3>Music is a dish best served cold. </h3>
    <br />
    <br />
    <p class="lead">Learn or Teach music skills in a "1 ON 1" relationship.</p>
    <hr class="my-4">
    <br />
    <br />
    <br />
    <br />
    <p>the MUB provides a private music lesson platform for your needs, check out the lessons below or go to the teacher overview to get to know the teachers.</p>
    <p>Musicians/Teachers, make that offer that can't be refused!</p>
    <br />
    <br />
    <br />
    <br />
</div>
    <div class="container-fluid">
        <div class="container"></div>
        <table class="table table-striped table-hover m-auto ">
            <thead>
                <tr>
                    <th><div class="d-inline-block">Instrument</div></th>
                    <th><div class="d-inline-block">Style</div></th>
                    <th><div class="d-none d-md-inline-block">Level</div></th>
                    <th><div class="d-inline-block">Location</div></th>
                    <th><div class="d-inline-block">Date</div></th>
                    <th><div class="d-none d-md-inline-block">Start</div></th>
                    <th><div class="d-none d-md-inline-block">End</div></th>
                    <th><div class="d-none d-md-inline-block">Teacher</div></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lesson in lessons)
                {
                    <tr>
                        <td><div class="d-inline-block">@lesson.InstrumentName</div></td>
                        <td><div class="d-inline-block">@lesson.InstrumentStyle</div></td>
                        <td><div class="d-none d-md-inline-block">@lesson.LessonLevel</div></td>
                        <td><div class="d-inline-block">@lesson.Township</div></td>
                        <td><div class="d-inline-block">@lesson.Start.ToShortDateString()</div></td>
                        <td><div class="d-none d-md-inline-block">@lesson.Start.ToShortTimeString()</div></td>
                        <td><div class="d-none d-md-inline-block">@lesson.Stop.ToShortTimeString()</div></td>
                        <td><div class="d-none d-md-inline-block">@lesson.TeacherFirstName @lesson.TeacherLastName</div></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


}

@code {
    private List<ResponseLessonDTO> lessons = new List<ResponseLessonDTO>();

    protected override async Task OnInitializedAsync()
    {
        lessons = await Client.GetFromJsonAsync<List<ResponseLessonDTO>>("https://localhost:44397/api/Lesson/GetAllUnbooked");

    }
}


