@page "/Report/{personId:int}"

@inject HttpClient Client
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorageService

<CascadingAuthenticationState>
    <div class="container-fluid p-5">
        <h1 class="display-3">Report a Mubster</h1>
        <hr class="my-4" />
        <form class="container">
            <AuthorizeView Context="AuthorizeContext">
                <Authorized>
                    <div id="errorMessage" hidden="@hiddenMessage" class="alert alert-danger text-center col-md-12">@message <span @onclick="HideMessage" class="float-end">x</span></div>
                    @if (AuthorizeContext.User.IsInRole("Teacher"))
                    {
                        <EditForm Model="reportAlert" OnValidSubmit="SendReport">

                            <div class="row">
                                <div class="col-md-2"></div>
                                <label class="col-md-2">Reason</label>
                                <div class="col-md-8"></div>
                                <div class="col-md-3"></div>
                                <div class="col-md-7">
                                    @foreach (var reason in teacherReasons)
                                    {
                                        <div class="input-group mx-1">
                                            <input class="form-check-input mx-1" type="radio" value="@reason" id="@reason" @onchange="SelectionChanged" checked=@(selectedAnswer.Equals(reason,StringComparison.OrdinalIgnoreCase)) />
                                            <label class="form-label" for="@reason"> @reason</label>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <label class="col-md-1 form-label">Extra info</label>
                                <div class="col-md-7 pb-1"><textarea placeholder="Give us a short explanation..." rows="5" class="form-control" @bind="extraInfo" style="width:100%" /></div>

                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-7">
                                    <a href="Account" class="btn btn-primary w-25">Back</a>
                                    <button class="btn btn-danger w-25 float-end" type="submit">Report</button>
                                </div>
                            </div>
                        </EditForm>
                    }
                    @if (AuthorizeContext.User.IsInRole("Student"))
                    {
                        <EditForm Model="reportAlert" OnValidSubmit="SendReport">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <label class="col-md-2">Reason</label>
                                <div class="col-md-8"></div>
                                <div class="col-md-3"></div>
                                <div class="col-md-7">
                                    @foreach (var reason in studentReasons)
                                    {
                                        <div class="input-group mx-1">
                                            <input class="form-check-input mx-1" type="radio" value="@reason" id="@reason" @onchange="SelectionChanged" checked=@(selectedAnswer.Equals(reason,StringComparison.OrdinalIgnoreCase)) />
                                            <label class="form-label" for="@reason"> @reason</label>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <label class="col-md-1 form-label">Extra info</label>
                                <div class="col-md-7 pb-1"><textarea placeholder="Give us a short explanation..." rows="5" class="form-control" @bind="extraInfo" style="width:100%" /></div>

                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">

                                    <button class="btn btn-danger w-25 m-1 float-end" type="submit">Report</button>

                                    <a href="Account" class="btn btn-primary w-25 m-1 float-end">Back</a>
                                </div>
                            </div>
                        </EditForm>
                    }
                </Authorized>
            </AuthorizeView>
        </form>
    </div>
</CascadingAuthenticationState>

@code {
    public CreateReportDTO reportAlert = new CreateReportDTO();
    public string extraInfo = string.Empty;
    public string selectedAnswer = string.Empty;
    public List<string> teacherReasons = new List<string>() { "Multiple Last-Minute Cancels", "Multiple No-Shows", "Inappropriate", "Refused to pay" };
    public List<string> studentReasons = new List<string>() { "Multiple Last-Minute Cancels", "Multiple No-Shows", "Inappropriate", "Inadequate" };

    string message = string.Empty;

    public bool hiddenMessage = true;

    [Parameter]
    public int personId { get; set; }

    LocalAuthUser User;

    protected override async Task OnInitializedAsync()
    {
        User = await LocalStorageService.GetItemAsync<LocalAuthUser>("User");
        if (User is null)
        {
            NavManager.NavigateTo("/Auth/Login");
        }
        else
        {
            await Authentication();
        }

    }

    public void SelectionChanged(ChangeEventArgs args)
    {
        selectedAnswer = args.Value.ToString();
    }

    public async void SendReport()
    {
        await Authentication();
        CreateReportDTO alert = new CreateReportDTO();
        if(User.Role is PersonType.Teacher)
        {
            alert = new CreateReportDTO { Message = $"User {personId}: Student : was reported for : " + selectedAnswer + ". With the extra message : " + extraInfo };

        }
        if (User.Role is PersonType.Student)
        {
            alert = new CreateReportDTO { Message = $"User {personId}: Teacher : was reported for : " + selectedAnswer + ". With the extra message : " + extraInfo };            
        }
        var alertResponse = await Client.PostAsJsonAsync("https://localhost:44397/api/alert/Report", alert);
        if (alertResponse.IsSuccessStatusCode)
        {
            NavManager.NavigateTo("/account");
        }
        else
        {
            message = "The report has failed";
            hiddenMessage = false;
        }

        NotifyChangedState();
    }

    //methods
    private void NotifyChangedState() => StateHasChanged();

    public void HideMessage()
    {
        hiddenMessage = true;
    }

    public async Task Authentication()
    {
        var localStateAuthProvider = (LocalStateAuthProvider)AuthStateProvider;
        var sessionExpired = await localStateAuthProvider.AuthenticationForLoginSession(Client);
        if (sessionExpired is true)
        {
            NavManager.NavigateTo("/auth/login");
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        var navUri = NavManager.Uri;
        if (firstRender)
        {
            var timer = new Timer(new TimerCallback(_ =>
            {
                if (navUri == NavManager.Uri)
                {
                    NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
                }

            }), null, 600000, 600000);
        }
    }
}
